<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>this metodo Directory.GetCurrentDirectory() obtiene la path raiz </p>
    @Directory.GetCurrentDirectory()
    @Directory.GetCurrentDirectory()
    @Directory.GetCurrentDirectory()
    @Directory.GetCurrentDirectory()
    @Directory.GetCurrentDirectory()
    @Directory.GetCurrentDirectory()
    @Directory.GetCurrentDirectory()
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <p>@AppDomain.CurrentDomain.BaseDirectory</p>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

<script type="text/javascript" src="../Scripts/service.js"></script>
<script type="text/javascript" src="../Scripts/VisitasController.js"></script>
<script type="text/javascript">
    var i = 0;
    var num2 = 0;
    setInterval(function () {
        (function () {
            i++;
            console.log(i);
            var ClsVisitasController = new VisitasController();
            ClsVisitasController.Inicializar();
        })();
    }, 16000);

    setInterval(function () {

        (function () {
            num2++;
            console.log('----------------->', num2);
            var ClsVisitasController = new VisitasController();
            ClsVisitasController.Inicializar2();
        })();
    }, 86399999);


</script>